sdk: "/Library/ParivedaInsite/rhodes"
sdkversion: 2.3.0
name: InSite Mobile
version: 1.2.2
vendor: Insphere
build: debug
bbver: 4.6
capabilities:
    - push
android: 
  package_name: 'com.insphere.insite' 
  production:
    certificate: /full/path/to/insphere_insite.keystore
    password: "5zW8e3ZuS7DWY0TsnCTyyWnpGSDUqUgj"
    alias: "Insite"
  emulator: rhoandroid
  android_title: 1
  push:
    sender: insphereapplication@insphereis.com
    notifications: background
  capabilities: 
  - network_state
  - push
  - vibrate
  version: 2.2
wmsdk: "Windows Mobile 6 Professional SDK (ARMV4I)"
applog: rholog.txt
encrypt_database: '1'
iphone:
  # configuration: Debug
  # sdk: 4.2
  configuration: release
  sdk: iphoneos4.3
  BundleIdentifier: com.insphere.insite
  codesignidentity: GET YOURS FROM THE INSPHERE ENTERPRISE APPLE DEV ACCOUNT
  provisionprofile: GET LATEST FROM INSPHERE ENTERPRISE APPLE DEV ACCOUNT
  entitlements:
  BundleURLScheme: insite
  capabilities:
  - push
  
extensions: ["json", "another-extension", "fileutils", "mspec"]