sdk: "/Library/ParivedaInsite/rhodes"
sdkversion: 2.3.0
name: InSite 
version: 2.0.6
vendor: Insphere
build: debug
bbver: 4.6
capabilities:
    - push
android: 
  package_name: 'com.insphere.insite' 
  production:
    certificate: /full/path/to/insphere_insite.keystore
    password: "5zW8e3ZuS7DWY0TsnCTyyWnpGSDUqUgj"
    alias: "Insite"
  emulator: rhoandroid
  android_title: 1
  push:
    sender: insphereapplication@insphereis.com
    notifications: always
  capabilities: 
  - network_state
  - push
  - vibrate
  version: 2.2
wmsdk: "Windows Mobile 6 Professional SDK (ARMV4I)"
applog: rholog.txt
encrypt_database: '1'
iphone:
  configuration: release
  sdk: iphoneos4.3
  # ------------------ INSPHERE ENTERPRISE ACCOUNT -----------------------
  BundleIdentifier: com.insphere.insite
  codesignidentity: "iPhone Developer: Kyle Norton (XX9U4R9CB6)"
  provisionprofile: 57605487-01A2-48E5-93CE-A160E7631951
  # ----------------------------------------------------------------------
  entitlements:
  BundleURLScheme: insite
  capabilities:
  - push
  
extensions: ["json", "another-extension", "fileutils", "mspec", "crypt"]