<script type="text/javascript" >
	$(document).ready(function() {
		$.ajaxSetup ({  
			cache: false  
		});
		loadContactsAsync(0);
	});
</script>

<div data-role="page" data-theme="b" data-url="" class="ui-page ui-body-b ui-page-active"> 
	<%= offline_bar %>
	<div data-role="header" data-backbtn="false" class="ui-bar-b ui-header" role="banner"> 
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Contacts</h1> 
	</div>

	<div class="ui-content" data-role="none" role="main">
		<ul id="contact-list" data-role="listview" data-counttheme="e" class="ui-listview" role="listbox"></ul>
	</div>
</div>
