
<div data-role="page" data-theme="b" data-url="" class="ui-page ui-body-b ui-page-active"> 
	<div data-role="header" data-backbtn="false" class="ui-bar-b ui-header" role="banner"> 
      <a href="/app" data-icon="star" class="ui-btn-left ui-btn ui-btn-up-b ui-btn-icon-left ui-btn-corner-all ui-shadow" rel="external" data-theme="b"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Home</span><span class="ui-icon ui-icon-star ui-icon-shadow"></span></span></a>
      <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Contacts</h1> 
  </div>

	<div class="ui-content" data-role="none" role="main">
		<ul data-role="listview" data-counttheme="e" class="ui-listview" role="listbox">
			 <% @contacts.each do |contact| %>
				<li role="option" tabindex="0" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c">
					<div class="ui-btn-inner">
						<div class="ui-btn-text">
							<h3 class="ui-li-heading"><a href="<%= url_for :action => :show, :id => contact.object %>" class="ui-link-inherit"><%= contact.full_name %></a></h3>			
						</div>
					</div>
				</li>
		      <% end %>
		</ul>
	</div>
	
</div>
