<div id="pageTitle">
    <h1>New Contact</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @contact.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">First name: </td>
    			  <td class="itemValue"><input type="text" name="contact[first_name]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Last name: </td>
    			  <td class="itemValue"><input type="text" name="contact[last_name]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">City: </td>
    			  <td class="itemValue"><input type="text" name="contact[city]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">State: </td>
    			  <td class="itemValue"><input type="text" name="contact[state]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Zip: </td>
    			  <td class="itemValue"><input type="text" name="contact[zip]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Phone: </td>
    			  <td class="itemValue"><input type="text" name="contact[phone]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Sex: </td>
    			  <td class="itemValue"><input type="text" name="contact[sex]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Date of birth: </td>
    			  <td class="itemValue"><input type="text" name="contact[date_of_birth]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>