

.ins-drop-down  {
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 32px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	text-align: center;
	width: 100%;
}

.ins-narrow-drop-down  {
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 32px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	text-align: center;
	width: 30%;
}