<div id="pageTitle">
	<h1><%= @note.parent_id%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @note.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">ParentId</td>
        <td class="itemValue"><%= @note.parent_id%></td>
      </tr>
      
    </table>
</div>