<%            backtrace = Rho::RHO.current_exception.backtrace().to_s
message   = Rho::RHO.current_exception.message().to_s
 errorCode = "500"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>An Error Occurred</title>
	<meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/default.css" />
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/insphere.css" />
	<link rel="stylesheet" href="/public/jquerymobile/jquery.ui.datepicker.mobile.css" /> 
	<script src="/public/jquerymobile/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jquery-mobile.js" type="text/javascript"></script>

</head>

<body>

    <div data-role="page" data-theme="b" data-cache="never" data-backbtn="false">
		<div data-role="header">
			<h1>An Error Has Occurred</h1>
		</div>
		<br/>
		<br/>
		<br/>
			We're sorry. An error has occurred. Please close and restart.
		<div id="contentDiv" data-role="content">
				<a rel="external" data-role="button" href="/app/Settings/close_app">Close</a>
			<div>
	</div>
</body>


</html>