<style type="text/css">
ul
  {
  margin: 10;
  padding:10;
  }
li
  {
  margin: 20px;
  font-size:12pt;
  padding:0px;
  }
</style>


<div class="pageTitle">
  <h1>InsiteMobile</h1>
</div>

<div class="toolbar">
  <!--<% if SyncEngine::logged_in > 0 %>
      <div class="leftItem blueButton">
        <a href="<%= url_for :controller => :Settings, :action => :do_sync %>">Sync</a>
      </div>
      <div class="rightItem regularButton">
        <a href="<%= url_for :controller => :Settings, :action => :logout %>">Logout</a>
      </div>
  <% else %>
      <div class="rightItem regularButton">
        <a href="<%= url_for :controller => :Settings, :action => :login %>">Login</a>
      </div>
  <% end %>-->
</div>

<div class="content">

  <% if @params['msg'] %>
    <span><%= @params['msg'] %></span>
  <% end %>
<ol>
	<li>
		<a href="Contact/seed_db_150"><span class="title">Seed Database (150 Contacts)</span></a>
	</li>
	<li>
	<h3>Choose a Page Style:</h3>
	</li>
	</ol>
  		<ul>
    		<li><a href="Contact"><span class="title">Contacts</span><span class="disclosure_indicator"/></a></li>
			<li><a href="Opportunity"><span class="title">Opportunities</span><span class="disclosure_indicator"/></a></li>
  		</ul>
</div>
