<!DOCTYPE html>
<html>
<head>
	<title>HM Mobile</title>
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link href="/public/lib/jquery.mobile.min.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/public/insite/insphere.css" media="screen" rel="stylesheet" type="text/css"/>
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/jquery.ui.datepicker.mobile.css" /> 
	<script src="/public/lib/jquery.min.js" type="text/javascript"></script>
	<script src="/public/lib/jquery.mobile.min.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jQuery.ui.datepicker.js"></script>
	<script src="/public/jquerymobile/jquery.ui.datepicker.mobile.js"></script>
	<script src="/public/insite/application.js" type="text/javascript"></script>
	<script src="/public/js/contacts.js" type="text/javascript"></script>
	<script src="/public/js/update_status.js" type="text/javascript"></script>
	<script src="/public/js/validation.js" type="text/javascript"></script>
	<script src="/public/js/statusvalidate.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jquery.validate.js" type="text/javascript"></script>
</head>
<body <% if @working %> onLoad="showSpin(null)" <% end %>>		
    <%= @content %>
</body>
</html>
