<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

	<title>InsiteMobile</title>
		<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=9" > 
	<% if System::get_property('platform') == 'WP7' %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% end %>
	
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/default.css" />
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/insphere.css" />
	<link type="text/css" rel="stylesheet" href="/public/css/opportunities.css"/>
	<link type="text/css" rel="stylesheet" href="/public/jquerymobile/css/jqmobile-patch.css" />

	<% if System::get_property('platform') == 'WP7' %>
        <script type="text/javascript" charset="utf-8" src="/public/js/jquery-wp7-patch.js"></script>
    <% end %>
		  
	<script src="/public/jquerymobile/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jquery.json-2.3.min.js" type="text/javascript"></script>
	<script src="/public/js/opportunities.js" type="text/javascript"></script>
	<script src="/public/js/application.js" type="text/javascript"></script>
	<script src="/public/js/update_status.js" type="text/javascript"></script>
	<script src="/public/js/validation.js" type="text/javascript"></script>
	<script src="/public/js/statusvalidate.js" type="text/javascript"></script>
	<script src="/public/js/contacts.js" type="text/javascript"></script>
	<script src="/public/jquerymobile/jquery.validate.js" type="text/javascript"></script>
	<script src="/public/js/activities.js" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8" src="/public/js/jqmobile-patch.js"></script>	
</head>



  <%if System::get_property('platform') == 'WP7' %>
      <script src="/public/js/wp7.js" type="text/javascript"></script> 
  <% end %>
	<body  <% if @working %> onLoad="showSpin(null)" <% end %>>
		<%= @content %>
		<script type="text/javascript">
		 if (wp7_change_forms_action_to_get)
			wp7_change_forms_action_to_get();
		</script>
	</body>

</html>
