<% contact = opportunity.contact %>
<li role="option" tabindex="0" data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c">
 <a class="ui-li-sidebar-<%=color%> ui-btn-up-c"> </a> 
	<div class="ui-btn-inner">
		<div class="ui-btn-text">
			<p class="ui-li-aside ui-li-desc"><strong>~Rollup Status</strong></p>
			<h3 class="ui-li-heading"><a href="opportunity_detail_v2.html" class="ui-link-inherit ui-block-a"><%= contact.full_name %></a></h3>
			<p class="ui-li-desc"></p>
			<div class="ui-grid-a ui-li-desc">
				<div class="ui-block-a"> <%= contact.age_sex_loc %> &nbsp;</div>
				<div align="right" class="ui-block-b">~Due: -x d</div>
			</div>
		</div>
	</div>
<a href="tel:<%= contact.mobilephone %>" title="Details" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c"><span class="ui-btn-inner"><span class="ui-btn-text"></span><span title="" data-theme="b" class="ui-btn ui-btn-up-b ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"></span><span class="ui-icon ui-icon-phoneopp ui-icon-shadow"></span></span></span></span></a>			
</li>