<% if @params['page']=='0'%>
	<li id="todays-leads-header" data-role="list-divider" role="heading" tabindex="0" class="opportunity-item ui-li ui-li-divider ui-btn ui-bar-<%= @color %> ui-btn-up-undefined"><%= @label %></li>
<% end %>
<% @page.each do |appointment| %>
	<%= # Defaults
		scheduledtime = appointment.scheduledstart
		icon = "mapopp"
		launcher = :map
		
		if appointment.type == 'PhoneCall'
			scheduledtime = appointment.scheduledend
			icon = "phoneopp"
			launcher = :phone_dialog
			location = appointment.phonenumber
		elsif appointment.type == 'Appointment'
			scheduledtime = appointment.scheduledstart
			icon = "mapopp"
			launcher = :map
			location = appointment.location
		end
		
		opportunity = appointment.opportunity 
		contact = opportunity.contact  if opportunity
		
		render :partial =>"opportunity", :back => 'callback:', :locals => { 
                    :opportunity => opportunity, 
                    :contact => contact,
                    :color => @color, 
                    :bottom_right_text => "Due #{DateUtil.days_calc_formatted(scheduledtime)}",
                    :top_right_text => to_datetime_noyear(scheduledtime),
                    :origin => "appointments",
                    :launcher => launcher,
                    :icon => icon,
                    :location => location,
                    :reference => "Scheduled",
                    :show_icon => @self_id == opportunity.cssi_assetownerid
		} if opportunity && contact
	 %>
<% end%>

