<% if @params['page']=='0'%>
	<% if 0 == @page.count %>
	<span id="no-follow-ups-found" style="display:block; margin-left:auto; margin-right:auto;">No follow-up opportunities found with current filter</span>
	<% else %>
	<li id="todays-leads-header" data-role="list-divider" role="heading" tabindex="0" class="opportunity-item ui-li ui-li-divider ui-btn ui-bar-yellow ui-btn-up-undefined">By Last Activity</li>
	<% end %>
<% end %>
<% @page.each do |opportunity| %>
	<% contact = opportunity.contact %>
	<%= render :partial =>"opportunity", :locals => { 
		   	:opportunity => opportunity, 
			:contact => contact,
		    :color => 'yellow', 
		    :top_right_text => opportunity.cssi_statusdetail,
		    :bottom_right_text => (opportunity.cssi_lastactivitydate.blank? ? "" : "#{DateUtil.days_ago_relative(opportunity.cssi_lastactivitydate)}") ,
		    :origin => "follow-ups",
		    :launcher => :phone_dialog,
		    :icon => "phoneopp",
		    :location => "blank"
	   } if contact 
	%>
<% end%>