
<div data-role="page" data-theme="b">
	<div data-role="header" data-theme="d" data-position="inline">
		<a href="<%=url_for(:action=>:show, :id => @opportunity.object)%>" data-direction="reverse" rel="external" data-icon="back">Cancel</a>
		<h1>Lost Opportunity</h1>
		<div style="text-align:center" class="ui-bar ui-bar-c"> 
			<%= "#{@opportunity.contact.full_name} - #{to_date(@opportunity.createdon)}" %>
		</div>
	</div>
	<div id="contentDiv" data-role="content">
		<div class="ui-body ui-body-d">
			<form name="lost_opportunity_other_form" method="POST" action="<%= url_for :controller => :Activity, :action => :udpate_lost_status %>">
				<input type="hidden" name="opportunity_id" value="<%= @opportunity.object %>" />
				<label for="status_code" class="fieldLabel">Lost Reason (Required):</label>
					<select name="status_code" id="status_code">
						<option></option>
						<option value="Covered By Competitor">Covered By Competitor</option>
						<option value="Wrong Number">Wrong Number</option>
						<option value="No Answer">No Answer</option>
						<option value="Disconnected Phone">Disconnected Phone</option>
						<option value="Deceased">Deceased</option>
						<option value="Cost">Cost</option>
						<option value="Insufficient Coverage">Insufficient Coverage</option>
						<option value="Other">Other</option>
						<option value="Insurance Not Desired">Insurance Not Desired</option>
						<option value="Uninsurable">Uninsurable</option>
						<option value="Group Insurance">Group Insurance</option>
						<option value="Under Age">Under Age</option>
						<option value="Over Age">Over Age</option>
						<option value="Medicaid">Medicaid</option>
						<option value="Never Inquired">Never Inquired</option>
						<option value="Does Not Speak English">Does Not Speak English</option>
						<option value="Working With Agent">Working With Agent</option>
						<option value="Covered By Spouse">Covered By Spouse</option>
					</select>


				<!-- TODO: Make this list dynamic -->
				<label for="competitorid" class="fieldLabel">Competitor (Optional):</label>
				<select name="competitorid" id="competitorid">
					<option></option>
					<option value="Aetna">Aetna</option>
					<option value="AIG">AIG</option>
					<option value="Allianz">Allianz</option>
					<option value="Assurant">Assurant</option>
					<option value="Berkshire Life">Berkshire Life</option>
					<option value="Blue Cross / Blue Shield">Blue Cross / Blue Shield</option>
					<option value="Cigna">Cigna</option>
					<option value="Genworth">Genworth</option>
					<option value="Golden Rule">Golden Rule</option>
					<option value="Guardian">Guardian</option>
					<option value="Humana">Humana</option>
					<option value="Kaiser">Kaiser</option>
					<option value="Lafayette Life">Lafayette Life</option>
					<option value="Lincoln">Lincoln</option>
					<option value="MassMutual">MassMutual</option>
					<option value="Met Life">Met Life</option>
					<option value="National Health">National Health</option>
					<option value="NewYork Life">NewYork Life</option>
					<option value="Principle">Principle</option>
					<option value="Prudential">Prudential</option>
					<option value="The Hartford">The Hartford</option>
					<option value="Transamerica">Transamerica</option>
					<option value="United Health Care">United Health Care</option>
					<option value="Unknown">Unknown</option>
					<option value="Unum">Unum</option>
					<option value="VantisLife">VantisLife</option>
				</select>

				<input type="submit" class="standardButton" value="Update"/>
			</form>
		</div>
	</div>

</div>

