<% if @params['page']=='0'%>
	<li id="todays-leads-header" data-role="list-divider" role="heading" tabindex="0" class="opportunity-item ui-li ui-li-divider ui-btn ui-bar-<%= @color %> ui-btn-up-undefined"><%= @label %></li>
<% end %>
<% @page.each do |opportunity| %>
	<%= render :partial =>"opportunity", :back => 'callback:', :locals => { 
			:opportunity => opportunity , 
			:color => @color, 
			:bottom_right_text => "Created #{DateUtil.days_ago_formatted(opportunity.createdon)}",
			:top_right_text => to_datetime_noyear(opportunity.createdon),
			:origin => "new-leads",
			:launcher => :phone_dialog,
			:icon => "phoneopp",
			:location => "blank"
		} if opportunity.contact
	 %>
<% end%>

