<div id="phone_dialog" data-role="none" class="ui-dialog ui-page ui-body-a ui-page-active">
	
		<div data-role="header" data-theme="d" data-position="inline" class="ui-corner-top ui-overlay-shadow ui-bar-d ui-header" role="banner">
			<a href="javascript:history.go(-1)" data-icon="delete" data-rel="back" data-iconpos="notext" class="ui-btn-left ui-btn ui-btn-icon-notext ui-btn-corner-all ui-shadow ui-btn-up-d" title="Close" data-theme="d">
				<span class="ui-btn-inner ui-btn-corner-all">
					<span class="ui-btn-text">Close</span>
					<span class="ui-icon ui-icon-delete ui-icon-shadow"></span>
				</span>
			</a>
			<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Dialog</h1>
		</div>

		<div data-role="content" data-theme="c" class="ui-content ui-body-c ui-corner-bottom ui-overlay-shadow" role="main">
			<p>Choose a number to dial:</p>
			<% @opportunity.contact.phone_numbers_full.each do |type, number| %>
				<a href="<%= url_for(:action => :call_number, :query => {:phone_number => number, :opportunity => @opportunity.object}) %>" data-role="button"  data-rel="back" data-theme="c" style="white-space:normal" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c">
					<span class="ui-btn-inner ui-btn-corner-all" style="white-space:normal">
						<span class="ui-btn-text" style="white-space:normal"><Cancel><%= type %></span>
					</span></a> 
			<% end %>  
		</div>
</div>