<script type="text/javascript" >

</script>

<div data-role="page" data-theme="b" data-url="" class="ui-page ui-body-b ui-page-active"> 
	<%= offline_bar %>
	<div data-role="header" data-backbtn="false" class="ui-bar-b ui-header" role="banner"> 
				<a href="<%=url_for(:action => :index)%>" data-direction="reverse" rel="external" data-theme="b" data-icon="back" class="ui-btn-left ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-b">
			<span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-back ui-icon-shadow"></span></span>
		</a>
		<h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Activity Center</h1>
	</div>

	<form name="contact_filter_form" id="contact_filter_form">	
		<div id="filter" data-role="none">
			<br/>
			<label for="search_first_name" class="fieldLabel ui-input-text"> &nbsp;&nbsp;&nbsp;&nbsp;First Name: </label>
			<input type="text" id="search_first_name" name="search_first_name" maxlength="30" class="ui-search-text ui-body-null ui-corner-all"></input>
			<label for="search_last_name" class="fieldLabel ui-input-text"> &nbsp;&nbsp;&nbsp;&nbsp;Last Name: </label>
			<input type="text" id="search_last_name" name="search_last_name" maxlength="30" class="ui-search-text ui-body-null ui-corner-all"></input>
			<fieldset class="ui-grid-custom ui-grid-a">
				<div class="ui-block-a">
					<div data-theme="b" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
						<span class="ui-btn-inner ui-btn-corner-all">
							<span class="ui-btn-text">Search AC</span>
						</span>
						<span type="submit" id="submit-ac-search" class="standardButton ui-btn-hidden" data-theme="b"/>
					</div>
				</div>
				<div class="ui-block-b">
					<div data-theme="b" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b">
						<span class="ui-btn-inner ui-btn-corner-all">
							<span class="ui-btn-text">Clear</span>
						</span>
						<a type="button" data-theme="b" href="<%=url_for(:action => :show_search_contact)%>" class="ui-btn-hidden ui-link"></a>
					</div>
				</div>
			</fieldset>
		</div>
	</form>	  	
	<div class="ui-content search-results-list" data-role="none" role="main">
		<% if @parsed_search_results %>
			<ul id="search-results-list" data-role="listview" data-counttheme="e" class="ui-listview" role="listbox">
				<% @parsed_search_results.each_with_index do |result, index| %>
					<li role="option" tabindex="0" data-theme="c" class="contact-item ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c">
						<%= result[1]['firstname'] %>
			    </li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
